.list-group-item {
  line-height: 2.5;
}

/* LOGIN PAGE */

form {
  position: relative;
  width: 500px;
  margin: auto;
}

.floated-label-wrapper {
  position: relative;
  margin: auto;
  width: 200px;
}

.floated-label-wrapper label {

  background: black;
  color: #1779ba;

  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  transition: all 0.15s ease-in;
  z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em;
}

.floated-label-wrapper label.show {

  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in;
}


.uploadImage{
  position: relative;
  margin: auto;

}

